@charset "UTF-8";
/*navbars*/
/*polices*/
/*boutons*/
/*fond body*/
/*palette couleurs*/
/*formatage du contenu*/
/*variables login Content*/
buttons, input[type=submit], #geoLocButton {
  border-radius: 5px;
  background-color: #00aa7f;
  color: #32324c;
  padding: 8px;
  border: none;
  cursor: pointer;
}

buttons:hover,
input[type=submit]:hover,
#geoLocButton:hover {
  background-color: #36edbe;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  margin: 0;
}

/*header*/
.topNavbar {
  width: 100%;
  margin: 0;
  margin-top: 0;
}
.topNavbar ul {
  background-color: #00557f;
  padding: 0.7em;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
.topNavbar ul li:first-child {
  margin-right: auto;
}
.topNavbar ul li:first-child a {
  border-left: none;
  border-right: 1px solid #ccf;
}
.topNavbar ul li a {
  color: #ccf;
  padding: 10px 20px;
  margin: 5px 0;
  border-left: 1px solid #ccf;
}
.topNavbar ul li form {
  position: absolute;
  top: 3em;
  right: 35em;
  background-color: #00557f;
  padding: 5px;
  font-size: 0.7em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
}
.topNavbar ul li form label,
.topNavbar ul li form input {
  display: block;
  margin: 6px 5px;
}
.topNavbar ul li form input[type=submit] {
  position: relative;
  left: 70%;
}
.topNavbar ul li:nth-child(2):hover form {
  display: block;
}

/*bannière */
.headerContent {
  width: 1300px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.headerContent .headerTitle h1 {
  margin: 1.5em 0;
  font-size: 4em;
}
.headerContent .headerLogo img {
  width: 250px;
  height: auto;
  margin: 20px;
}

/*conteneur principal page*/
.container {
  background-color: #eef;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 30px 100px 30px;
}

section .contentSearch {
  display: flex;
  padding-bottom: 20px;
}

.contentSearch {
  display: flex;
}
.contentSearch .tab_wrapper {
  display: flex;
}

/*recherche sur carte - conteneur principal*/
.searchMapCont {
  display: flex;
  margin: 40px auto;
  width: 90%;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 2px 10px #0003;
}

/*formulaire d'options recherche sur carte*/
.searchMap {
  overflow: hidden;
}

.searchMapForm .searchMapOptionsForm {
  background-color: #ccf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.searchMapForm .searchMapOptionsForm label, .searchMapForm .searchMapOptionsForm input {
  display: block;
  width: 100%;
}
.searchMapForm .searchMapOptionsForm .dataTypeSearchCont {
  display: block;
}
.searchMapForm .searchMapOptionsForm .searchGeolocCont {
  display: flex;
  justify-content: space-around;
}
.searchMapForm .searchMapOptionsForm .searchGeolocCont img {
  width: 50px;
}
.searchMapForm .searchMapOptionsForm .searchGeolocCont #geoLocButton {
  display: block;
}

/*actualités*/
.actuContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.actuContainer .actu {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #0003;
  padding: 8px;
}
.actuContainer .actuBig {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 15px;
  display: flex;
}
.actuContainer .actuBig .actuImg {
  flex: 1.4;
  width: 450px;
  overflow: hidden;
  border-radius: 5px;
}
.actuContainer .actuBig .actuImg img {
  position: relative;
  height: 100%;
  right: calc(100% / 2 - 225px);
}
.actuContainer .actuBig .articleExtrait {
  position: relative;
  flex: 1;
  padding: 20px;
  text-align: justify;
}
.actuContainer .actuSmall {
  grid-column: 4/5;
}
.actuContainer .actuSmall .actuImg {
  height: 100px;
  width: 200px;
  overflow: hidden;
}
.actuContainer .actuSmall .actuImg img {
  position: relative;
}

/*footer*/
footer {
  display: block;
  background-color: #00557f;
  padding: 10px 10px 0 10px;
  width: 100%;
}
footer .footerContent {
  display: flex;
  justify-content: center;
}
footer .footerContent .footer {
  margin: 20px;
  flex: 30%;
  height: 200px;
  background-color: #00aa7f;
}
@media (max-width: 600px) {
  footer .footerContent {
    flex-direction: column;
  }
}
footer .footerFooter {
  display: flex;
  justify-content: center;
}
footer .footerFooter ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin: 20px;
}
footer .footerFooter ul li a {
  color: inherit;
  text-decoration: none;
}

/*Login page*/
.form {
  /*design form*/
  background: rgba(0, 85, 127, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(0, 85, 127, 0.2);
}
.form a {
  text-decoration: none;
  color: #00aa7f;
  transition: 0.5s ease;
}
.form a:hover {
  color: #004433;
}
.form .tab_group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.form .tab_group:after {
  content: "";
  display: table;
  clear: both;
}
.form .tab_group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.form .tab_group li a:hover {
  background: #00dda5;
  color: #ffffff;
}
.form .active a {
  background: #00aa7f;
  color: #ffffff;
}
.form h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.tab_content > div:last-child {
  display: none;
}

.field_wrap {
  position: relative;
  margin-bottom: 40px;
}
.field_wrap label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.field_wrap label .req {
  margin: 2px;
  color: #00aa7f;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: #00dda5;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #bc7d00;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.top_row:after {
  content: "";
  display: table;
  clear: both;
}
.top_row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top_row > div:last-child {
  margin: 0;
}

/*Design boutons*/
.button {
  border: 0;
  outline: none;
  border-radius: 4px;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #00aa7f;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
.button:hover, .button:focus {
  background: #004433;
}

.button_block {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
