/*navbars*/
$navbarsColor : #00557f;
$navBorderColor : #ccf;

/*polices*/
$lightFontsColor : #ccf;
$darkFontsColor : #32324c;
$formsColor : #ccf;
$tempColor : #66a;

/*boutons*/
$buttonsColor : #00aa7f;
$buttonsBrRadius : 5px;
$paddingButtons: 8px;
$hoverButtonsColor: #36edbe;

/*fond body*/
$generalBgColor : #eef;

/*bleu font carte*/
$bgMap: #bcf;

/*palette couleurs*/
$colorBlue_1: #00557f;
$colorBlue_2: #00aa7f;
$colorOrange_1: #bc7d00;
$colorBlue_2-light: lighten($colorBlue_2, 10%);
$colorBlue_2-dark: darken($colorBlue_2, 20%);
$colorOrange_1-light: lighten($colorOrange_1, 20%);
$colorOrange_1-dark: darken($colorOrange_1, 20%);
$white: #ffffff;
$gray-light: #a0b3b0;
$gray: #ddd;

/*formatage du contenu*/
$contentWidth : 90%;
$boxShadows : 2px 2px 10px #0003;
$boxBrRadius : 8px;

$contentWidth : 90%;

/*variables login Content*/
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;



buttons, input[type="submit"], #geoLocButton {
    border-radius: $buttonsBrRadius;
    background-color: $buttonsColor;
    color: $darkFontsColor;
    padding: $paddingButtons;
    border: none;
    cursor: pointer;
}
buttons:hover, 
input[type="submit"]:hover, 
#geoLocButton:hover {
    background-color: $hoverButtonsColor;
}

* {
    box-sizing: border-box;
    font-family: arial;
    font-size: 16px;
}
body {
    margin: 0;
}
/*header*/
.topNavbar{
    width: 100%;
    margin: 0;
    margin-top: 0;
    ul {
        background-color: $navbarsColor;
        padding: .7em;
        margin: 0;
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        li:first-child {
            margin-right: auto;
            a {
                border-left: none;
                border-right: 1px solid $navBorderColor;
            }

        }
        li {
            a {
                color: $lightFontsColor;
                padding: 10px 20px;
                margin: 5px 0;
                border-left: 1px solid $navBorderColor;
                text-decoration: none;
            }
            form {
                position: absolute;
                top: 3.6em;
                right: 35em;
                background-color: $navbarsColor;
                padding: 5px;
                font-size: .7em;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                display: none;
                label, 
                input {
                    display: block;
                    margin: 6px 5px;
                }
                input[type="submit"] {
                    position: relative;
                    left: 70%;
                }
                span {
                    display: block;
                    margin: 5px 0 8px 0;
                    text-align: right;
                    
                    a {
                        border: 1px solid $navBorderColor;
                        padding:3px;
                    }
                }
            }
        }
        li:nth-child(2):hover {
            form {
                display: block;
            }
        }
    }
}



/*bannière */
.headerContent {
    width: 1300px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    .headerTitle {
        h1 {
            margin: 1.5em 0;
            font-size: 4em;
        }
        
    }
    .headerLogo {
        img {
            width: 250px;
            height: auto;
            margin: 20px;
        }

}
    
}

/*conteneur principal page*/
.container {
    background-color : $generalBgColor;
    width : 1200px;
    margin: 0 auto;
    padding: 30px 30px 100px 30px;
}


/*recherche simple - conteneur principal*/

.simpleSearch {
    display: flex;
    width: $contentWidth;
    margin: 0 auto 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: $boxBrRadius;
    box-shadow: $boxShadows;
    .simpleSearchForm {
        background-color: $formsColor;
        width: 200px;
        padding: 10px;
        form {
            input, label {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
    .tab_wrapper {
        display: flex;
        width: 100%;
        .tab {
            flex: 1;
            background-color: #eee;
            margin: 0 2px;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: pointer;
            h6 {
                display: block;
                border-bottom : 1px solid #bbb;
                margin: 0;
                padding: 3px;
                text-align: center;
            }
            .tab-body {
                border-bottom: 1px solid #bbb;
                padding: 15px;
                img {
                    width: 80px;
                    display: block;
                    margin: 0 auto;
                }
            }
            span {
                display: block;
                text-align: center;
                padding: 3px 0;
            }
            .tmpMax {
                color: red;
                border-bottom: 1px solid #bbb;
            }
            .tmpMin {
                color: blue;
            }
        }
        .tab:hover, .active {
            box-shadow: 0 4px 8px #000a;
            flex: 1.5;
        }
    }
}
/*details recherche simple*/
.simpleSearchDetails {
    background-color: #fff;
    border-radius: $boxBrRadius;
    box-shadow: $boxShadows;
    padding: 20px;
    width: $contentWidth;
    margin: 0 auto;
    .detailsHeader {
        display: block;
        h5 {
            padding: 5px 0;
            margin: 0;
            font-size: 1.5em;
        }
    }
    .detailsWrapper {
        display: flex;
        .dayPart {
            background-color: $colorBlue_1;
            flex: 20%;
            margin: 0 2px;
            border-radius: 4px;
            cursor: pointer;
            h6 {
                text-align: center;
            }
            .icone {
                padding: 10px 0;
                img {
                    width: 80px;
                    display: block;
                    margin: 0 auto;
                }
            }
            .details {
                visibility: hidden;
            }
            .detailsTmp {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                span {
                    background-color: #fff9;
                    font-weight: bold;
                    padding: 8px;
                    margin: 0 6px;
                    border-radius: 20px;
                }
                .detailsMaxTmp{
                    color: red;
                }
                .detailsMinTmp {
                    color: blue;
                }
            }
        }
        .active {
                background-color: $colorBlue_2;
                flex: 60%;
                box-shadow: 0 4px 8px #000b;
            .icone {
                img {
                    width: 100px;
                }
            }
            .details {
                display: flex;
                visibility: visible;
                span {
                    flex: 1;
                    border-bottom: 1px solid #0005;
                    border-top: 1px solid #0005;
                    padding: 6px 0;
                    text-align: center;
                    background-color: #fff2;
                }
                span:first-child {
                    flex: 1.5;
                }
                span+span {
                    border-left: 1px solid #0002;
                }
                
            }
            
            }
        h6 {
            padding: 8px 0;
            margin: 0;
            background-color: #fffb;
            border-bottom: 1px solid #000b;
        }
    }
}

/*recherche sur carte - conteneur principal*/
.searchMapCont {
    display: flex;
    margin: 40px auto;
    width: $contentWidth;
    justify-content: space-between;
    background-color: #fff;
    border-radius: $boxBrRadius;
    padding: 20px;
    box-shadow: $boxShadows;
}


/*formulaire d'options recherche sur carte*/
.searchMap {
    overflow: hidden;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: $bgMap;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .dataGridCont {
        position: absolute;
        width: 100%;
        height: 100%;
        display: Grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .dataGrid {
            position: relative;
            .prevGrid {
                img {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    top: 25px;
                    margin: 0 auto;
                    display: block;
                }
                
            }
            .tempGrid {
                display: none;
                .tmpVal {
                    font-size: 1.3em;
                    font-weight: bold;
                    color: $tempColor;
                    margin: 20px auto;
                    display: block;
                    width: 30px;
                    background-color: #fff9;
                    border-radius: 8px;
                    box-shadow: 0 0 10px #fff;
                    text-align: center;
                }
            }
            .windGrid{
                display: none;
                justify-content: space-around;
                width: 50%;
                height: 100%;
                align-items: center;
                margin: 0 auto;
                img {
                    width: 40px;
                    height: 40px;
                    display: block;
                    position: relative;
                }
                .windVal {
                    display: inline-block;
                    position: relative;
                    font-size: 1.2em;
                    color: #00b;
                    
                }
            }
        }
    }
}

.searchMapForm {

    .searchMapOptionsForm {
        background-color: $formsColor;
        padding: 20px;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        height: 100%;
        
        label, input {
            display: block;
            width: 100%;
            padding: 8px;
        }
        .dataTypeSearchCont {
            display: block;
            flex: 1;
            #dataTypeList {
                list-style-type: none;
                padding: 0;
                a {
                    text-decoration: none;
                    color: $lightFontsColor;
                    background-color: $navbarsColor;
                    display: block;
                    padding: 8px;
                    cursor: pointer;
                }
                li + li > a {
                    border-top: 1px solid $navBorderColor;
                }
            }
        }
        .searchCityCont {
            flex: 1;
            display: block;
            input {
                margin: 0 0 5px 0;
            }
        }
        .searchGeolocCont {
            flex: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
                width: 50px;
                height: 60px;
            }
            #geoLocButton {
                display: block;
                margin: 0 8px;
            }
        }
        .submitCont {
            flex: 1;
            display: flex;
            align-items: center;
        }
    }
}

/*actualités*/
.actuContainer {
    display: grid;
    grid-template-columns : 3fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
    width: $contentWidth;
    margin: 0 auto;
    .actu {
        position: relative;
        background-color: #fff;
        border-radius: $boxBrRadius;
        box-shadow: $boxShadows;
        padding: 8px;
    }
    .actuBig {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        padding: 15px;
        display: flex;
        .actuImg {
            flex: 1.4;
            width: 450px;
            overflow: hidden;
            border-radius: 5px;
            img {
                position: relative;
                height: 100%;
                right: calc(100% / 2 - 225px);
            }
        }
        .articleExtrait {
            position: relative;
            flex: 1;
            padding: 20px;
            text-align: justify;
        }
    }
    .actuSmall {
        grid-column: 4 / 5;
        .actuImg {
            height: 100px;
            width: 200px;
            overflow: hidden;
            img {
                position: relative;
            }
        }
    }
}

/*footer*/
footer {
	display:block;
	background-color: $colorBlue_1;
	//border-radius: 20px;
	padding: 10px 10px 0 10px;
	width: 100%;

	.footerHead {

	}
	.footerContent {
		display: flex;
		justify-content: center;

		.footer {
			margin: 20px;
			
			flex: 30%;
			height: 200px;
			background-color: $colorBlue_2;
			
		}
	}
	@media (max-width: 600px) {
		.footerContent {
			flex-direction: column;
		}
	}


	.footerFooter {
		display: flex;
		justify-content: center;
		ul {
			li {
				list-style: none;
				display: inline-block;
	        	
				font-size: 14px;
	    		margin: 20px;
				a {
					color: inherit; 
	    			text-decoration: none;
				}
			}
		}
	}
}

/*Login page*/
.loginContentPage {
    a {
    text-decoration:none;
    color:$colorBlue_2;
    transition:.5s ease;
    &:hover {
        color:$colorBlue_2-dark;
        }
    }

    .form {
        /*design form*/
        background:rgba($colorBlue_1,.9);
        padding: 40px;
        max-width:600px;
        margin:40px auto;
        border-radius:$br;
        box-shadow:0 4px 10px 4px rgba($colorBlue_1,.2);
    }
    
    .tab_group {
        list-style:none;
        padding:0;
        margin:0 0 40px 0;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        li a {
            display:block;
            text-decoration:none;
            padding:15px;
            background:rgba($gray-light,.25);
            color:$gray-light;
            font-size:20px;
            float:left;
            width:50%;
            text-align:center;
            cursor:pointer;
            transition:.5s ease;
            &:hover {
            background:$colorBlue_2-light;
            color:$white;
            }
        }
        .active a {
            background:$colorBlue_2;
            color:$white;
        }
    }

    .tab_content > div:last-child {
      display:none;
    }

    h1 {
        text-align:center;
        color:$white;
        font-weight:$thin;
        margin:0 0 40px;
    }

    label { 
        position:absolute;
        transform:translateY(6px);
        left:13px;
        color:rgba($white,.5);
        transition:all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size:22px;
        .req {
            margin:2px;
            color:$colorBlue_2;
        }
    }

    label.active {
        transform:translateY(50px);
        left:2px;
        font-size:14px;
        .req {
            opacity:0;
        }
    }

    label.highlight {
        color:$white;
    }

    input, textarea {
        font-size:22px;
        display:block;
        width:100%;
        height:100%;
        padding:5px 10px;
        background: $colorBlue_2-light;
        background-image:none;
        border:1px solid $gray-light;
        color:$white;
        border-radius:0;
        transition:border-color .25s ease, box-shadow .25s ease;
        &:focus {
            outline:0;
            border-color:$colorOrange_1;
        }
    }

    textarea {
      border:2px solid $gray-light;
      resize: vertical;
    }

    .field_wrap {
        position:relative;
        margin-bottom:40px;

    }

    .top_row {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      > div {
        float:left;
        width:48%;
        margin-right:4%;
        &:last-child { 
          margin:0;
        }
      }
    }
    /*Design boutons*/
    .button {
      border:0;
      outline:none;
      border-radius:$br;
      padding:15px 0;
      font-size:1rem;
      font-weight:$bold;
      text-transform:uppercase;
      letter-spacing:.1em;
      background:$colorBlue_2;
      color:$white;
      transition:all.5s ease;
      -webkit-appearance: none;
      cursor:pointer;
      &:hover, &:focus {
        background:$colorBlue_2-dark;
      }
    }
    .button_block {
      display:block;
      width:100%;
    }

    .oubli {
      margin-top:-20px;
      text-align:right;
    }
    /*Appartion/disparition*/
    #signUp {
        display: block;
    }
    #logIn {
        display: none;
    }
    
}