* {
    box-sizing: border-box;
}

/*header*/
.topNavbar {
    position: relative;
    background-color: #05f;
    height: 2em;
    margin: 0;
    padding: 0;
}
.topNavbar > ul {
    padding: 4px;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.topNavbar > ul > li > a {
    color: #ccf;
    padding: 5px 20px;
    margin: 5px 0;
    border-left: 1px solid #ccf;
}

.topNavbar form {
    position: absolute;
    top: 2.8em;
    right: 22em;
    z-index: 2;
    background-color: #05f;
    padding: 5px;
    font-size: .7em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: none;
}
.topNavbar > ul > li:first-child:hover > form {
    display: block;
}
.topNavbar form > label,
.topNavbar form > input {
    display: block;
    margin: 6px 5px;
}

/*bannière */
.headerContent {
    width: 1300px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.headerTitle {
}
.headerTitle h1 {
    margin: 1.5em 0;
    font-size: 4em;
}
.headerLogo img {
    width: 250px;
    height: auto;
    margin: 20px;
}
.headerLogo {
}
