@charset "UTF-8";
buttons, input[type=submit], #geoLocButton {
  border-radius: 5px;
  background-color: #7bf;
  color: #32324c;
  padding: 8px;
  border: none;
  cursor: pointer;
}

buttons:hover,
input[type=submit]:hover,
#geoLocButton:hover {
  background-color: #77f;
}

* {
  box-sizing: border-box;
}

/*header*/
.topNavbar {
  position: relative;
  background-color: #05f;
  height: 2em;
  margin: 0;
  padding: 0;
}
.topNavbar ul {
  padding: 4px;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
.topNavbar ul li:first-child {
  margin-right: auto;
}
.topNavbar ul li:first-child a {
  border-left: none;
  border-right: 1px solid #ccf;
}
.topNavbar ul li a {
  color: #ccf;
  padding: 5px 20px;
  margin: 5px 0;
  border-left: 1px solid #ccf;
}
.topNavbar ul li form {
  position: absolute;
  top: 2.8em;
  right: 35em;
  z-index: 2;
  background-color: #05f;
  padding: 5px;
  font-size: 0.7em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
}
.topNavbar ul li form label,
.topNavbar ul li form input {
  display: block;
  margin: 6px 5px;
}
.topNavbar ul li:nth-child(2):hover form {
  display: block;
}

/*bannière */
.headerContent {
  width: 1300px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.headerContent .headerTitle h1 {
  margin: 1.5em 0;
  font-size: 4em;
}
.headerContent .headerLogo img {
  width: 250px;
  height: auto;
  margin: 20px;
}

/*conteneur principal page*/
section.container {
  background-color: #eef;
}

section .contentSearch {
  display: flex;
  padding-bottom: 20px;
}

/*formulaire recherche sur carte*/
.searchMap {
  overflow: hidden;
}

.searchMapForm .searchMapOptionsForm {
  background-color: #ccf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.searchMapForm .searchMapOptionsForm label, .searchMapForm .searchMapOptionsForm input {
  display: block;
  width: 100%;
}
.searchMapForm .searchMapOptionsForm .dataTypeSearchCont {
  display: block;
}
.searchMapForm .searchMapOptionsForm .searchGeolocCont {
  display: flex;
  justify-content: space-around;
}
.searchMapForm .searchMapOptionsForm .searchGeolocCont img {
  width: 50px;
}
.searchMapForm .searchMapOptionsForm .searchGeolocCont #geoLocButton {
  display: block;
}

/*footer*/
footer {
  display: block;
  background-color: #00557f;
  padding: 10px 10px 0 10px;
  width: 100%;
}
footer .footerContent {
  display: flex;
  justify-content: center;
}
footer .footerContent .footer {
  border: solid;
  margin: 20px;
  flex: 30%;
  height: 200px;
  background-color: #00aa7f;
}
@media (max-width: 600px) {
  footer .footerContent {
    flex-direction: column;
  }
}
footer .footerFooter {
  display: flex;
  justify-content: center;
}
footer .footerFooter ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin: 20px;
}
footer .footerFooter ul li a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=stylePierre.css.map */
