$navbarsColor : #05f;
$navBorderColor : #ccf;
$lightFontsColor : #ccf;
$darkFontsColor : #32324c;
$formsColor : #ccf;
$buttonsColor : #7bf;
$buttonsBrRadius : 5px;
$paddingButtons: 8px;
$hoverButtonsColor: #77f;
$generalBgColor : #eef;

$colorBlue_1: #00557f;
$colorBlue_2: #00aa7f;

buttons, input[type="submit"], #geoLocButton {
    border-radius: $buttonsBrRadius;
    background-color: $buttonsColor;
    color: $darkFontsColor;
    padding: $paddingButtons;
    border: none;
    cursor: pointer;
}
buttons:hover, 
input[type="submit"]:hover, 
#geoLocButton:hover {
    background-color: $hoverButtonsColor;
}

* {
    box-sizing: border-box;
}

/*header*/
.topNavbar{
    position: relative;
    background-color: $navbarsColor;
    height: 2em;
    margin: 0;
    padding: 0;
    ul {
        padding: 4px;
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        li:first-child {
            margin-right: auto;
            a {
                border-left: none;
                border-right: 1px solid $navBorderColor;
            }

        }
        li {
            a {
                color: $lightFontsColor;
                padding: 5px 20px;
                margin: 5px 0;
                border-left: 1px solid $navBorderColor; 
            }
            form {
                position: absolute;
                top: 2.8em;
                right: 35em;
                z-index: 2;
                background-color: $navbarsColor;
                padding: 5px;
                font-size: .7em;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                display: none;
                label, 
                input {
                    display: block;
                    margin: 6px 5px;
                }
            }
        }
        li:nth-child(2):hover {
            form {
                display: block;
            }
        }
    }
}



/*bannière */
.headerContent {
    width: 1300px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    .headerTitle {
        h1 {
            margin: 1.5em 0;
            font-size: 4em;
        }
        
    }
    .headerLogo {
        img {
            width: 250px;
            height: auto;
            margin: 20px;
        }

}
    
}

/*conteneur principal page*/
section.container {
    background-color : $generalBgColor;
}
section .contentSearch {
    display: flex;
    padding-bottom: 20px;
}

/*formulaire recherche sur carte*/
.searchMap {
    overflow: hidden;
}

.searchMapForm {

    .searchMapOptionsForm {
        background-color: $formsColor;
        padding: 20px;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        height: 100%;
        
        label, input {
            display: block;
            width: 100%;
        }
        .dataTypeSearchCont {
            display: block;
        }
        .searchCityCont {

            
        }
        .searchRegionCont {

            
        }
        .searchGeolocCont {
            display: flex;
            justify-content: space-around;

            img {
                width: 50px;
            }
            #geoLocButton {
                display: block;
            }
        }
    }
}

/*footer*/
footer {
	display:block;
	background-color: $colorBlue_1;
	//border-radius: 20px;
	padding: 10px 10px 0 10px;
	width: 100%;

	.footerHead {

	}
	.footerContent {
		display: flex;
		justify-content: center;

		.footer {
			border: solid;
			margin: 20px;
			
			flex: 30%;
			height: 200px;
			background-color: $colorBlue_2;
			
		}
	}
	@media (max-width: 600px) {
		.footerContent {
			flex-direction: column;
		}
	}


	.footerFooter {
		display: flex;
		justify-content: center;
		ul {
			li {
				list-style: none;
				display: inline-block;
	        	
				font-size: 14px;
	    		margin: 20px;
				a {
					color: inherit; 
	    			text-decoration: none;
				}
			}
		}
	}
}